body{
    /* background-image: url("login.png"); */
    /* background-size: cover; Hace que la imagen cubra todo el fondo */
    /* background-repeat: no-repeat; Evita que la imagen se repita */
    /* background-position: center; Centra la imagen */
    /* margin: 0; Elimina márgenes para evitar espacios en blanco */ 
    background: url(images.png) center center/cover no-repeat; 
    background-image: url(cuadro7.png);
}


#logear{
    content: ''; /* Agrega el ícono como imagen */
    display: block;
    background: url(login.png) no-repeat center;
    background-size: contain;
    width: 50px; /* Tamaño del ícono */
    height: 50px;
    position: absolute;
    top: 50%; /* Centra el ícono verticalmente al cuadro */
    left: -70px; /* Coloca el ícono al lado izquierdo del cuadro */
    transform: translateY(-50%); /* Ajusta el centrado perfecto */
}




h1{
    color: white;
    border-color: rgb(4, 4, 78);
    border-style: groove;
    border-radius: 40px
    
}


h2{
    color: white;
    border-color: rgb(4, 4, 78);
    border-style: groove;
    border-radius: 40px

}

#user{ 
    
    border-color: gray; 
    border-style: groove; 
    width: fit-content; 
    border-width: 3px; 
    background-color: rgba(0, 255, 255, 0.705); 
    opacity: 0.7; 
} 


 #contra{ 
     border-color: gray; 
     border-style: groove; 
     width: fit-content; 
     border-width: 3px; 
     background-color: rgba(0, 255, 255, 0.705); 
     opacity: 0.7; 
 } 
 
 
 #fondo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
 }













